
.header-nav .nav-link.active {
    background-color: rgba(255, 255, 255, 0.3); 
    color: #ffffff !important;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.4);
}
.brand-title {
    color: #b48c35; 
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 30px;
}



:root {
    --main-color: #b48c35;      
    --main-color-dark: #9c782a;
    --accent-color: #fd7e14;     
}

* {
    font-family: Tahoma, sans-serif;
}

body {
    background-color: white;
    color: darkblue; 
}

h1.subject {
    text-align: center;
    color: var(--main-color);
    margin-top: 20px;
}

table.product {
    border-collapse: collapse;
    width: 100%
}

.container {
    width: 80%;
    margin: 0 auto;
}

.fex {
    display: flex;
}


.bg-custom {
    background-color: var(--main-color) !important;
    color: white !important;
}

.text-custom {
    color: var(--main-color) !important;
}

.btn-custom {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}
.btn-custom:hover {
    background-color: var(--main-color-dark);
    color: white;
}


.header-nav .nav-link {
    transition: all 0.2s;
    font-size: 14px;
    text-transform: uppercase;
}
.header-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #fffbe0 !important;
}


@media (max-width: 768px) {
    .header-nav .nav-link {
        font-size: 11px;
        flex-direction: column;
    }
    .header-nav i {
        margin-right: 0 !important;
        margin-bottom: 5px;
    }
}



/* CSS cho bộ chọn sao (Rating Star) */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    opacity: 0;       /* Làm mờ hoàn toàn để không nhìn thấy */
    width: 0;         /* Thu nhỏ kích thước về 0 */
    height: 0;
    visibility: hidden; /* Đảm bảo không tương tác được nếu không cần thiết */
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}